name: Update MMDB Databases

on:
  schedule:
    # Run daily at 6:00 AM UTC
    - cron: '0 6 * * *'
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  update-maxmind:
    uses: ./.github/workflows/update-mmdb-reusable.yml
    with:
      provider: maxmind
      databases: 'GeoLite2-Country GeoLite2-City GeoLite2-ASN'
      base-url: 'https://download.maxmind.com/geoip/databases'
      url-suffix: '/{db}/download?suffix=tar.gz'
      archive-type: 'tar.gz'
      use-month-in-url: false
      retention-days: 30
      license-text: |
        This product includes GeoLite2 Data created by MaxMind, available from https://www.maxmind.com.
        
        GeoLite2 databases are subject to the GeoLite2 End User License Agreement:
        https://www.maxmind.com/en/geolite2/eula
        
        Per the license terms, GeoLite2 data must be deleted within 30 days of a new release.
      release-notes-prefix: |
        This product includes GeoLite2 Data created by MaxMind, available from https://www.maxmind.com.
        
        **License:** [GeoLite2 EULA](https://www.maxmind.com/en/geolite2/eula)
    secrets:
      download-username: ${{ secrets.MAXMIND_ACCOUNT_ID }}
      download-password: ${{ secrets.MAXMIND_LICENSE_KEY }}

  update-dbip:
    uses: ./.github/workflows/update-mmdb-reusable.yml
    with:
      provider: dbip
      databases: 'dbip-country-lite dbip-city-lite dbip-asn-lite'
      base-url: 'https://download.db-ip.com/free'
      url-suffix: '/{db}-{month}.mmdb.gz'
      archive-type: 'gz'
      use-month-in-url: true
      retention-days: 30
      license-text: |
        IP Geolocation by DB-IP (https://db-ip.com)
        
        This database is licensed under a Creative Commons Attribution 4.0 International License.
        https://creativecommons.org/licenses/by/4.0/
        
        You are free to use this database in your application, provided you give attribution to DB-IP.com.
      release-notes-prefix: |
        IP Geolocation by [DB-IP](https://db-ip.com).
        
        **License:** [Creative Commons Attribution 4.0](https://creativecommons.org/licenses/by/4.0/)
        
        Attribution required: Include a link to DB-IP.com when using this data.
